include plugin.yaml
include __init__.py
include requirements.txt
include LICENSE
include SECURITY.md
include CONTRIBUTING.md
include PRIVACY.md
include THIRD_PARTY.md
include CHANGELOG.md
recursive-include tests *.py
recursive-include scripts *.py
recursive-include examples *.yaml
recursive-include docs *.md
